<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Listado de productos</ion-title>
        <ion-buttons slot="end">
            <ion-button slot="icon-only" (click)="onNewProduct()">
                <ion-icon name="add-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">
    <ion-segment (ionChange)="segmentChanged($event)" value="pizzas">
        <ion-segment-button value="pizzas">
            <ion-label>Pizzas</ion-label>
        </ion-segment-button>
        <ion-segment-button value="bebidas">
            <ion-label>Bebidas</ion-label>
        </ion-segment-button>
        <ion-segment-button value="postres">
            <ion-label>Postres</ion-label>
        </ion-segment-button>
        <ion-segment-button value="ensaladas">
            <ion-label>Ensaldas</ion-label>
        </ion-segment-button>
    </ion-segment>
    <ion-grid fixed="false">
        <ion-row>
            <ion-col size="12">
                <ion-list>
                    <ion-item-sliding *ngFor="let product of products" #ionItemSliding>
                        <ion-item-options side="end">
                            <ion-item-option (click)="onEditProduct(product.id, ionItemSliding)">
                                <ion-icon name="pencil" slot="icon-only"></ion-icon>
                                Editar
                            </ion-item-option>
                        </ion-item-options>
                        <ion-item mode="ios" (click)="onViewProduct(product.id)">
                            <ion-thumbnail slot="start">
                                <ion-img [src]="product.image"></ion-img>
                            </ion-thumbnail>
                            <ion-label>{{product.name}}
                            </ion-label>
                        </ion-item>
                        <ion-item-options side="start">
                            <ion-item-option color="warning">
                                <ion-icon name="trash" slot="icon-only"></ion-icon>
                                <ion-label>Dar de baja</ion-label>
                            </ion-item-option>
                        </ion-item-options>
                    </ion-item-sliding>
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>